baseURL: https://zimacek.cz/
theme: "PaperMod"
defaultTheme: auto
defaultContentLanguage: cs
defaultContentLanguageInSubdir: false
removePathAccents: true
enableRobotsTXT: true
pagination:
    pagerSize: 6
languages:
    cs:
        contentDir: content/cs
        disabled: false
        languageCode: cs-CZ
        languageDirection: ltr
        languageName: Czech
        params:
            dateFormat: "02. 01. 2006"
        permalinks:
            page:
                blog: /blog/:year/:month/:slug/
            section:
                blog: /blog/
        title: TZ
        taxonomies:
            kategorie: "kategorie"
            tag: "tags"
        weight: 1

params:
    author: "Tom치코 Zim치캜ek"
    ShowBreadCrumbs: true
    ShowShareButtons: false
    ShareButtons: ["linkedin", "x"]
    ShowPostNavLinks: true
    ShowCodeCopyButtons: true
    homeInfoParams:
        title: "Ahoj, jsem Tom치코" # optional default will be site title
        content: "Technologick칳 nad코enec, co r치d posouv치 hranice. 游 P칤코u o IT, inovac칤ch, bezpe캜nosti, AI a dal코칤ch tech vychyt치vk치ch."
        #imageUrl: "<image link>" # optional
        #imageTitle: "<title of image as alt>" # optional
        #imageWidth: 120 # custom size
        #imageHeight: 120 # custom size
    socialIcons: # optional
        - name: "linkedin"
          url: "https://www.linkedin.com/in/zimacek"
        - name: "GitHub"
          url: "https://github.com/ZiMi-lab"
    mainSections:
        - dokumentace
        - blog
    giscus:
        repo: "ZiMi-lab/blog"
        repoID: "R_kgDOOLR8Mw"
        category: "Articles"
        categoryID: "DIC_kwDOOLR8M84Cok0w"
        mapping: "title"
        strict: "0"
        reactionsEnabled: "1"
        emitMetadata: "0"
        inputPosition: "bottom"
        theme: "preferred_color_scheme"
        lang: "cs"
        loading: "lazy"
    umami:
        script: "https://stats.zimacek.cz/script.js"
        websiteID: "e84b80a8-ca76-4a19-9491-5b419840334b"

markup:
    goldmark:
        parser:
            attribute:
                block: true
                title: true