baseURL: https://zimacek.cz/
theme: "PaperMod"
defaultTheme: auto
defaultContentLanguage: cs
defaultContentLanguageInSubdir: false
removePathAccents: true
author: "Tom치코 Zim치캜ek"
languages:
    cs:
        contentDir: content/cs
        disabled: false
        languageCode: cs-CZ
        languageDirection: ltr
        languageName: Czech
        params:
            dateFormat: "02. 01. 2006"
        permalinks:
            page:
                blog: /blog/:year/:month/:slug/
            section:
                blog: /blog/
        title: TZ
        taxonomies:
            kategorie: "kategorie"
            tag: "tags"
        weight: 1

params:
    ShowBreadCrumbs: true
    ShowShareButtons: false
    ShareButtons: ["linkedin", "x"]
    ShowPostNavLinks: true
    ShowCodeCopyButtons: true
    homeInfoParams:
        title: "Ahoj, jsem Tom치코" # optional default will be site title
        content: "a v캩nuji se 游눹 IT, 游댃 digit치ln칤m inovac칤m a 游 kybernetick칠 bezpe캜nosti."
        #imageUrl: "<image link>" # optional
        #imageTitle: "<title of image as alt>" # optional
        #imageWidth: 120 # custom size
        #imageHeight: 120 # custom size
    socialIcons: # optional
        - name: "linkedin"
          url: "https://www.linkedin.com/in/zimacek"
        - name: "GitHub"
          url: "https://github.com/ZiMi-lab"
    mainSections:
        - dokumentace
        - blog

markup:
    goldmark:
        parser:
            attribute:
                block: true
                title: true